on boot 
# Notify vold that sdcard is already mounted
    setprop EXTERNAL_STORAGE_STATE  mounted
    
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state

    # bluetooth MAC address programming
    chown bluetooth bluetooth /sys/module/board_fathom/parameters/bdaddress
    setprop ro.bt.bdaddr_path /sys/module/board_fathom/parameters/bdaddress

    # Permissions for Liblights.
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/keyboard-backlight/brightness
    
    #write 0 to als for enable backlight control
    #write /sys/class/leds/lcd-backlight/alc 1
    #write /sys/class/leds/lcd-backlight/alc 0
    
    chown system system /sys/class/leds/lcd-backlight/alc
    chown system system /sys/class/backlight/bd6084gu-bl/brightness
    
    
    # Power Management
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 245000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 998400

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    disabled
    oneshot

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --baudrate 3000000 --patchram /etc/firmware/bcm4329.hcd /dev/ttyHS0
    user bluetooth
    group bluetooth net_bt_admin
    disabled
